%header
  .header-logo
    .header-logo__title
      TIM
    %p
      − Time Is Money - 
  %ul.header-list 
    -if user_signed_in?
      %li= link_to current_user.name, "#", class: "header-list__logout"
      %li= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-list__logout"
      %li= link_to "質問する", new_question_path, class: "header-list__logout"
    -else
      %li= link_to "ログイン", new_user_session_path, class: "header-list__login"

      %li= link_to "新規登録", new_user_registration_path, class: "header-list__new"
    
    
      
  

.side
   
  .side__top
    = link_to "質問一覧", root_path
  .side__title
    カテゴリー

  .side__list
    プログラミング
  
  .side__list
    筋トレ
