
= render partial: 'post'

-# cssは_questions.scss
.main-contents
  -# = form_tag( "/questions/search", method: :get , class: "search-form") do
  -#   = text_field_tag :keyword, params[:keyword],{placeholder: "質問を検索する",class:"search-form__text"}
  -#   = submit_tag "検索",class:"search-form__submit"
  - @questions.each do |question|
    .main-contents__content
      = link_to "a", question_path(question.id)
      .main-contents__content--info 
        .main-contents__content--info--title
          = question.title
          -# = link_to question.title, question_path(question.id)
        .main-contents__content--info--name
          = "質問者:　#{question.user.name}"
        .main-contents__content--info--price
          = question.price
      .main-contents__content--main.clearfix    
        .main-contents__content--main--text
          = question.contents 
        .main-contents__content--main--image
          -if question.image?
            ※画像が投稿されています
        .main-contents__content--main--time
          = question.created_at
  
    