
- if @answers 
  .main-contents__text
    −−−−−−−−−−−−−   回答一覧   −−−−−−−−−−−−−
  - @answers.each do |answer|
    .main-contents__show
      .main-contents__show--info.clearfix  
      -# .main-contents__show--info--title
      -#   = @question.title
        -#  link_to question.title, question_path(@questions.ids)
      .main-contents__show--info--name
        = answer.user.name
        -# = render partial: 'likes/like', locals: { answer: @answer, answers: @answers}

      -if @question.user.already_liked?(answer)
        .main-contents__show--info--liked
          =link_to icon("fas", "crown"), question_answer_like_path(@question.id, answer.id, params[:id]), method:"DELETE"
          -# = icon("fas", "crown")

      -elsif current_user == @question.user  
        .main-contents__show--info--like
          = button_to "いいね", question_answer_likes_path(@question.id,answer.id), remote: true
      .main-contents__show--main.clearfix    
        .main-contents__show--main--text
          = answer.text
        .main-contents__show--main--image
          = image_tag answer.image     
        .main-contents__show--main--time
          = answer.created_at
-# -else
-#   .main-contents__text
-#     −−−−−−−−−−−−−   回答はまだありません   −−−−−−−−−−−−−


.main-contents__question
  = form_for [@question,@answer] do |f|
    -# .main-contents__question--top 
    -#   タイトル  
    -# = f.text_field :title, class: "main-contents__question--title", placeholder: '　タイトルを入力してください'
    .main-contents__question--main 
      回答
    = f.text_area :text, class: "main-contents__question--text", placeholder: '　回答を入力してください', value: ""
    = f.label :image, class: "main-contents__question--image" do
      = icon("fas", "image")
      = f.file_field :image, class: "main-contents__question--image--file",value: ""
    = f.submit "投稿", class: "main-contents__question--btn"