= render partial: "questions/post"

-# cssは_new.scss

.main-contents
  :javascript
    window.onbeforeunload = function(e) {
      console.log("hello");
      e.returnValue = "ページを離れようとしています。よろしいですか？";
    };

    
  .main-contents__start
    = "#{@done}円の質問の購入が完了しました!" 
    %p= "~ 質問をどうぞ ~" 
  .main-contents__question
    = form_for :post, url: '/questions' do |f|
      .main-contents__question--top 
        タイトル  
      = f.text_field :title, class: "main-contents__question--title", placeholder: '　タイトルを入力してください'
      .main-contents__question--main 
        本文
      = f.text_field :price, class: "main-contents__question--none",value: "#{@done}円の質問"
      = f.text_area :contents, class: "main-contents__question--text", placeholder: '　質問を入力してください'
      = f.label :image, class: "main-contents__question--image" do
        = icon("fas", "image")
        = f.file_field :image, class: "main-contents__question--image--file"
      = f.submit "投稿する", onclick:"window.onbeforeunload = null;" , class: "main-contents__question--btn"
      
    